### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/Lista de compras 1-8.txt
/Lista de compras 7-8.txt
/database_lista_itens.csv

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

